.homeContainer{
    background-color: #40e0d0;
    height: 100vh;
    width: 100vw;
}
.home{
    text-align: center;
    height: 13vh;
    border: 1px solid;
}
.tickets{
    margin-top: 40px !important;
    width: 40vw;
    margin: auto;
}
u{
    color: black;
    font-size: 16px;
}
.formButtonHome {
    float: right;
    background-color: #ffffff;
    display: inline-block;
    color: #28e6d3;
    font-size: 28px;
    font-weight: 500;
    padding: 6px 24px;
    margin-top: 15px;
    margin-right: 60px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
}

.formButtonHome:hover {
    background-color: #28e6d3;
    color: #ffffff;
}