<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        body {
            background-color: #40e0d0;
            font-family: source-sans-pro, sans-serif;
        }

        .error {
            color: white;
            font-size: 18px;
        }

        h1,
        p {
            margin-left: auto;
            margin-top: 50px;
            text-align: center;
            font-weight: 100;
            font-size: 2.8em;
            color: #ffffff;
        }

        div {
            width: 500px;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="error">
            <h1>Welcome <%-error%> !</h1>
    </div>
</body>

</html>